*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainColor: #020385;
    --maincolorlight:#34359D;
    --secondarycolor:#858402;
    --textcolor:#E5E5E5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textcolor);
}
nav a{
    margin: 0 2rem;
    color: var(--textcolor);
    text-decoration: none;
}
nav a:hover{
    color: var(--secondarycolor);
}
header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    color: var(--textcolor);
    opacity: 0;
    visibility: hidden;
}
@media screen and (max-width:700px) {
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translate(-100vh);
    }
    header .responsive_nav{
        transform: none; 
    }
    nav .nav-close-btn{
        position: absolute;
        top:2rem;
        right: 2rem;
    }

}